.navbar{
  background-color: rgb(3, 37, 65);
}

.btn-outline-success {
  border-color: white !important;;
  color: white !important;;
}

.btn-outline-success:hover {
  background-color: #5e78df;
  color: white !important;
}
