.btn-outline-info {
  border-color: white !important;;
  color: white !important;
  background-color:rgb(3, 37, 65) ;
}

.btn-outline-info:hover {
  color: white !important;
  background-color: rgb(0, 66, 119);
}
